
@font-face {
  font-family: archiaRegular;
  src: url(assets/fonts/Archia-Regular.otf);
}

h3, p, h4, h2, h1{
  font-family: archiaRegular;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #2b91bf;
  }

  .menu-options{
    margin: auto;
    width: 80%;
  }

  .img-title{
    width: 30%;
  }

  .title{
    margin: auto;
    width: 80%;
  }

  .img-info{
    width: 160%;
  }

  .menu-footer{
    margin: auto;
    width: 100%;
    bottom: 0;
    margin-top: 1%;
    
  }

 

  .info-container-img{
    background-color: darkblue;
    width: 20%;
  }

  .info-container-text{
    background-color: darkblue;
    width: 20%;
    float:right;
  }

  .info-container{
    width: 90%;
    margin: auto;
  }

  .container-description{
    width: 100%;
    margin: auto;
    display: flex;
  }

  .container-title{
    width: 50%;
    padding-top: 3.5%;
    padding-left: 4%;
    padding-right: 4%;
    text-align: justify;
    
    
    
  }

  .img-right{
    width: 50%;
  }

  .image{
    width: 100%;
  }


  
  .small-image{
    right: 0%;
  }

  .title-text{
    color: #3e4497;
    font-weight: bold;
  }

  .title-text.analysis{
    width: 80%;
    margin: auto;
    text-align: center !important;
  }

  .title-page{
    color: #ab0012;
    font-weight: bold;
    padding: 1%;
  }

  #container2{
    background-color: lightcyan;
  }

  #btn-extender{
    font-size:24px
  }

  .container-full-description{
    width: 90%;
    margin: auto;
    
  }

  .full-description{
    width: 100%;
   
    text-align: justify;
  }

  .full-description>.title-page{
    color: #ab0012;
  }

  .menu-footer-features{
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  td{
    border: 1px solid #ddd;
    padding: 4%;
  }

  th{
    border: 1px solid #ddd;
    text-align: center !important;
    background-color: #3e4497;
    color: white;
    
  }
  
  tr{
    background-color: #f2f2f2;
   
  }

  .custom-table{
    text-align: center;
    font-size:150%;
    text-align: center;
    
  }

  .container-title.noFlex{
    width: 100% !important;
    padding-top: 1% !important;
    text-align: center !important;
  }

  .img-right.noFlex{
    width: 80% !important;
    margin: auto;
    margin-top: 3%;
  }

  .img-right.analysis{
    margin: auto;
  }

  .image.analysis{
    width: 50% !important;
  }
  
  #container6>.container-title{
   
    border-radius: 1%;
    margin: 1%;
    padding-bottom: 1%;
    padding-top: 0% !important;
  }

  #container8>.container-title{
    
    border-radius: 1%;
    margin: 1%;
    padding-top: 0% !important;
    
    
  }

  #container7>.container-title{
    width: 33%;
    
    border-radius: 1%;
    margin: 1%;
    padding-bottom: 1%;
    padding-top: 0%;
    padding-right: 5% !important;
  }


  .container-description-noFlex{
    margin-bottom: 3%;
  }

  .list-options{
    text-align: left;
  }

  .title-with-front-icon{
    display: flex;
    height: 135px;
  }

  .title-with-front-icon>.image>.idea{
    margin-top: 10%;
    width: 20% !important;
    height: 10%;
  }

  .list-options{
    height: 250px;
  }

  .container-title.benefits{
    width: 50% !important;
    
  }

  .img-right.consortium{
    width: 100% !important;
  }

  .image.consortium{
    width: 85% !important;
    margin: auto;
    padding: 2%;
    height: 150px;
  }

  .container-title.consortium.team{
    display: flex;
    padding-left: 1% !important;
    padding-right: 1% !important;
    height: 100%;
  }

  .text-consortium-team{
    width: 50%;
    padding: 2%;

  }

  .image.consortium-team{
    height: auto !important;
  }

  .try-it-now{
    float: right !important;
    background-color: orange;
  }

  .title-page.features{
    margin-top: 0px !important;
    margin-bottom: 0px !important;

  }

  .solution-text{
    margin-top: 33%;
  }

  .container-title.container2{
    margin-top: 5.5%;
    text-align: justify;
  }

  .container-full-description.art{
    margin-top: 2%;
  }

  .container-title.margen1{
    margin-top: 3.5%;
  }

  .container-full-description.margen2{
    margin-top: 5%;
  }

  .img-analysis{
    text-align: center;
    margin-top: 1%;
  }

  .solution-img{
    width: 35%;
    height: auto;
  }

  .solution-img.structural{
    width: 64%;
    margin-top: 5%;
  }

  .solution-img.mesh{
    width: 60%;
  }

  .solution-img.simulationFixed{
    width: 60%;
  }

  .solution-img.tacFixed{
    width: 54%;
  }

  .container-description.benefits{
    margin-top: 7%;
  }

  .container-description.why{
    margin-top: 3%;
  }

  .container-description.test{
    margin-top: 3%;
    height: 400px;
    border: 1px solid #ccc;
    margin: 1%;
  }

  .info-container.test{
    display: flex;
    padding-top: 5%;
  }

  .container-title.test{
    width: 100% !important;
    text-align: center;
  }

  .textFooter{
    color: white;
    padding: 0.5%;
  }

  .text-state{
    padding: 1%;
  }

  .title-text.workflow{
    margin-right: 1%;
  }

  .solution-img.step6{
    width: 60%;
  }

 h1, h2, h3, h4, h5, p {
   text-align: justify !important;
 }

 .info-container.test{
   text-align: center !important;
 }

 .title-text.analysis1{
  text-align: justify !important;
}