@font-face {
  font-family: archiaRegular;
  src: url(assets/fonts/Archia-Regular.otf);
}
h1, h2, h3, h4, h5, button, a, p, li, ul, label{
  font-family: archiaRegular;
}
  .header{
  
    border-top: 2px #adadad solid;
   
  }
    .supHome{
      margin: 0;
      background-color: rgb(212, 211, 211);
  }

  .title-menu{
    padding-top: .5%;
    align-items: center;
    display: flex;
    margin: auto;
    width: 100% !important;
    height: 100px;
  }

  .modal-content{
    width: 95% !important;
  }

  #dentalfemLogo{
    align-items: center;
    width: 19%;
  }

  .logoMenuBar{
    float: left;
    margin-left: 17%;
  }
  .menuBar {
    list-style-type: none;
    width: 100%;
    padding: 6px;
    overflow: hidden;
    margin-top: 0%;
    display: flex;

    justify-content: center;
    align-items: center;
    
  }
  

  
  li a {
    font-family: archiaRegular;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
  }
  
  
  body { 
    margin:0; 
    background-image: url("/assets/fondo-dentalfem.jpg");
    background-size: cover;
 
  }

  .choose-file-btn{
    padding: 5px 10px;
    background: #365e9f;
    color:#fff;
    border:0px solid #fff;
    border-radius: 5px;
}
 
.choose-file-btn:hover{
    color:#fff;
    box-shadow: 5px 10px 10px #cccbcb;
    
}

  footer{
    position: fixed !important;
    bottom: 0;
    width: 100%;
  }

  .actions-container {
    position: relative;
    margin-bottom: 10%;
    height: 290px;
    padding-top: 0% !important;
  }

  .unlogged-actions{
    
    
    
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
  }

  /*Contact Div*/
  
  .contactBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(212, 211, 211);
}

.actions-home-page{
  height: 180px !important;
}

.contactBar>li {
    display: block;
    color: black;
    font-weight: 1000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
  }

  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    
  }

  th{
    text-align: center; 
    vertical-align: middle;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  /* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

#dentalfemLogo{
  width: 23% !important;
  margin-left: 38%;
}

.modal-content.dicom.form-dicom {
  border: none;
  height: 200px;
}

.modal-content.auth{
  height: 50% !important;
  width: 90% !important;
}

.modal-content.dicom.restricted-tags {
  height: 200px;
  border: none;
}

.modal-content.load-dicom {
  display: flex;
  
}

.modal-content.load-dicom {
  border: none !important;
  margin-bottom: 2% !important;
  background-color: transparent !important;
}

.protocol {
  color: #0070c0 !important;
}
.app-mobile{
  display:none
}

.modal-content.be-premium{
  border: none !important;
}

/*
@media only screen and (min-width: 768px) {
  
  
}

@media only screen and (min-width: 600px) {
  
    p{
      font-size: 10px;
    }
}

@media only screen and (min-width: 300px) {
 
    p{
      font-size: 10px;
    }
    h1{
      font-size: 15px;
    }
    h2{
      font-size: 17px;
    }
    .startBtn{
      margin-right: 0%;
    }
    h3{
      font-size: 18px;
    }
    .logo-title{
      margin-left: -84% !important;
    }
    #dentalfemLogo{
      display: none;
    }
    #startBtn{
      margin-left: -189% !important;
    }
    body{
      background-image: none;
    }
    .modal-content{
      margin: unset !important;
    }
    label, input{
      font-size: 10px;
    }
    .modalRegistro{
      width: 49% !important;
      float: revert !important;
      border-left: white !important;
      padding-left: 15px !important;
      
      margin-left: -3% !important;
      margin-top: 0% !important; 
    }
    p{
      font-size: 7px !important;
    }
}
*/

body { 
  margin:0; 
  background-image: url("/assets/fondo-dentalfem.jpg");
  background-size: cover;
  background-repeat: no-repeat

}

.paypal-button-text.true{
  content: "Deb" !important;
}

@media screen and (max-width:1450px), screen and (max-height:1000px ){
  
  .body-action-definition{
    font-size: 10px;
  } 
  .actions-container{
    top: 60%;
  }
  .intro-body{
    font-size: 16px;
  }
}


 @media screen and (max-width:1200px ), screen and (max-height:810px ){
   h2{  font-size: 15px !important;
   }
   html{
     position: relative;
   }
   .app-mobile{display:block}#title-bar{display:none}
   .supHome,.infoContainer{display:none!important}
   footer{display:none!important}
   body{background-color:#fff;background-image:none}
   .app-mobile-bar-image{width:100%}
   .app-mobile-bar-img-container{width:300px;margin:auto}
   .app-mobile-bar{background-color:#d4d3d3;border-bottom:1px solid rgba(204,203,203,.562)}
   .app-mobile-body-intro-title{text-align:center}
   .app-mobile-body-intro-text{width:70%;margin:auto;text-align:left}
   .app-mobile-body-btns-container{display:flex;width:100%}
   .app-mobile-body-container-actions{width:50%;text-align:center;margin-top:5%}
   .app-mobile-body-container-actions-button{width:60%;font-size:60px!important;height:100%}
   .app-mobile-body-btns {
    margin-top: 7%;
    margin-bottom: 80px;
  }
   .title-action-definition.privacy{font-size:12px!important}
   .app-mobile-footer{
     display:flex;
     text-align:center;
     background-color:#d4d3d3;
     border-bottom:1px solid rgba(204,203,203,.562);
     width:100%;
     bottom: 0;
    position: fixed;
    }
   .app-mobile-footer-text{width:30%;font-size:10px}
   .send-request-btn{width:50%}
   .send-request-privacity-disclaimer{font-size:6px!important}
   .modalRegistro{border-top:2px solid black;margin-top:25px;border-left:none!important}
   .actions-container{display: none !important}
   .app-mobile-body-logged-bar{
    display: flex;
    background-color: #d4d3d3a8;
    text-align: center;
    padding: 3%;
   }
   .app-mobile-body-logged-bar-item {
    width: 20%;
  }
  .modalLogin, .modalRegistro{
    float: none !important;
    width: 100% !important;
    padding-left: 0% !important;
  }
  .modal-content.auth{
    height: 900px !important;
  }
  .editor-form{
    margin-left: 0% !important;
    width: 100% !important;
  }
  article{
    font-size: x-small;
  }
  .app-mobile-body-logged-actions{
    margin-bottom: 80px;
  }
  .editor-form.add-patient{
    display: block !important;
  }
  .modal-content.load-dicom{
    display: block !important;
    width: 100% !important;
  }
  .modal-content.anonymized-answer{
    width: 50% !important;
  }
  .modal-content.show-patient{
    width: 88% !important;
  }
  table{
    font-size: x-small;
  }
  .editor-form.one-patient{
    display: block !important;
  }
  .modal-edit-patient>.modal-content{
    padding-bottom: 27%;
    margin-bottom: 50%;
  }
  .modalCredit.credits{
    width: 100% !important;
    float: none;
  }
  #modal-credits>.modal-content{
    height: 100% !important;
  }
  .modalRegistro{
    border-top: none !important;
  }
  .fa{
    margin-top: 6%;
  }
  .modal-content-about{
    margin-bottom: 35% !important;
  }
  .modal-content{
    margin-bottom: 35% !important;
    width: 70% !important;
  }
  .modal-content.dicom.restricted-tags{
    margin: 0%;
  }
  .load-dicom-form{
    margin-left: -14%;
  }
  }

  