.button {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 1em;
    z-index: 2;
    cursor: pointer;
  }
  
  .rootController {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    z-index: 1;
  }
  
  .control {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
  }
  
  .fullScreen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    background: black;
    margin: 0;
    padding: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .fullParentSize {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  
  .bigFileDrop {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    background-image: url('./dropBG.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 10px;
    width: 50px;
    padding: calc(50vh - 2em) calc(50vw - 25px - 2em);
    cursor: pointer;
  }
  
  .selector {
    background: transparent;
    border: none;
    margin: 5px;
    z-index: 1;
    max-width: 100px;
    min-width: 100px;
  }
  
  label.selector {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  select:focus {
    outline: none;
    border: none;
  }
  
  .progress {
    flex: none;
    font-size: 50px;
    color: white;
    z-index: 1;
    background: rgba(128,128,128,.5);
    padding: 20px;
    border-radius: 10px;
    user-select: none;
  }
  
  .dark {
    /*composes: selector;*/
    color: white;
  }
  
  .dark option {
    color: black;
  }
  
  .light {
    /*composes: selector;*/
    color: black;
  }
  
  .light option {
    color: white;
  }
  
  .fpsMonitor {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border: solid 1px gray;
  }
  