<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DentalFEM</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  
</head>

<div class="supHome" style="display: block">

  <!--Menu Bar-->
  <div class="title-menu" id="title-bar">
    <img id="dentalfemLogo" src="assets/dentalfem.png" >
    <i id="disclaimer-exclamation" class="" style="margin-top: 0%; margin-left: 22%;" (click)="openPrivacityModal()"><img style="  width: 13%;" src="/assets/escudo-de-seguridad.png"></i>
  </div>

  <div class="header" id="menu-header-logged" *ngIf="logged">
   <ul class="menuBar">
   
    <li class="icon-menu-bar" *ngIf="premium_user != true">{{n_credits}} <i class="" (click)="openModalCredits()"> <img src="/assets/001-money.png" style="width: 40px;"> </i></li>

    <li class="icon-menu-bar">{{n_patients}} <i class="fa" > <img src="/assets/009-medical-record.png" style="width: 40px;"></i></li>
    <li class="icon-menu-bar">{{n_simulations}} <i class="fa " ><img src="/assets/003-cube.png" style="width: 40px;"></i></li>
    

    <li class="icon-menu-bar notification-full" *ngIf="n_notifications>0" ><i class="fa fa-bell"  style="color:rgb(255, 187, 0)" (click)="openModalNotification()"></i></li>
    <li class="icon-menu-bar notification-empty" *ngIf="n_notifications==0"><img src="/assets/004-notification.png" style="width: 40px;" (click)="openModalNotification()"></li>
   
    <li class="icon-menu-bar" style="margin-right: -4%;"><i class='fa ' (click)="openContactModalLogged()" ><img src="/assets/005-email.png" style="width: 40px;"> </i></li>
    <li class="icon-menu-bar" style="margin-right: -4%;"><i class='fa ' (click)="openModalAbout()"> <img src="/assets/006-interrogation-mark.png" style="width: 40px;"></i></li>
    <li class="icon-menu-bar" style="margin-right: -4%;">
      <i class='far' style="font-size: 45px; color:#747474" (click)="openUserData()">
        <img src="/assets/010-profile.png" style="width: 40px;">
      </i>
    </li>
   
   </ul> 
  </div>

</div>
  <!--Script page Home from platform-->

  <!--------
    Info container
  ------->

  <div class="infoContainer" style="display: block" >

    <!--
    <img id="backgroundInfoContainer" src="assets/background1.png">
    -->

    <!--WELCOME PAGE-->
    <div class="welcome-container" style="height: 300px !important" >
      
      <div style="font-size: 24px;">

      <h1 >
            Welcome to
            DentalFEM</h1>



      <p class="intro-body" style="width: 80%; margin: auto;">
                    DentalFEM digital dentistry tool allows for 
                    data driven surgical procedures based on accurate 
                    mathematical models solved with finite element method (FEM) </p> 
      </div>


    </div>

    <div class="unlogged-actions" *ngIf="!logged" >


      <div style="display: flex; margin-bottom: 2%; ">
        <div class="actions-home-page" style="bottom: -36% !important; width: 100%;  text-align: center;">
          <button id="btn-add-patient" class="only-action-unlogged"  (click)="openAuthModal()" style="display: ruby;">
            <h2>Access</h2> &nbsp;
           
          </button>
        </div>
        <div class="actions-home-page" style="bottom: -36% !important; width: 100%;  text-align: center;">
          <button id="btn-add-patient" class="only-action-unlogged"  (click)="openModalContact()" style="display: ruby;">
            <h2 >Contact</h2> &nbsp;
            
          </button>
        </div>
  
        <div class="actions-home-page" style="bottom: -36% !important; width: 100%;  text-align: center;">
          <button id="btn-add-patient" class="only-action-unlogged"  (click)="openModalAbout()" style="display: ruby;">
            <h2>About</h2> &nbsp;
            
          </button>
        </div>
       
  
      </div>
      <footer>
        <ul class="contactBar">
          <li>+34 886 30 31 33</li>
          <li>INDOMINUS AS, S.L.</li>
          <li>http://indominus.eu/</li>
         </ul> 
      </footer>
      
  
    </div>

    
    

    <!--MODAL AUTENTIFICATION-->  
    <div id="myModalAuth" class="modal" *ngIf="authModal" >
      
      <!-- Modal content -->
      <div class="modal-content auth" >
        <div class="close-container" (click)="closemyModalAuth()">
          <i class="fa fa-close" style="position: right;" ></i>
        </div>
        
        <!--Formulario derecho-->   
        <div class="modalLogin" >
          
          <h2>Log In</h2>
          <br><br>
          <form class="formInicioSesion" method="get" >
            
            <label for="usuarioLogin">Email:</label>
            <input [(ngModel)]="emailLog" type="text" id="usuarioLogin" name="email"  placeholder="example@gmail.com" required="required"><br>
  
            <label for="contraseñaLogin">Password:</label>
            <input [(ngModel)]="passwordLog" type="text" id="contraseñaLogin" name="password"  required="required" type="password"placeholder="******" ><br><br>

            <button class="button-auth" type="submit" (click)="login()" style="margin-top: 9%;">Log in</button>
           
          </form> 
  
        </div>
  
        
        <!--Formulario izquierdo--> 
        <div class=" modalRegistro">
          <h2>New User</h2>
          <form class="formRegistro">
  
            <label for="emailRegistro">Email:</label>
            <input [(ngModel)]="email" type="text" id="emailRegistro" name="emailRegistro" required="required" maxlength="30" placeholder="Email or ID"><br>
  
            <label for="contraseñaRegistro">Password:</label>
            <input [(ngModel)]="password" type="text" id="contraseñaRegistro" name="contraseñaRegistro" required="required" maxlength="30" type="password" placeholder="New Password"><br>
  
            <label for="contraseñaRepetidaRegistro">Repeat password:</label>
            <input [(ngModel)]="new_password" type="text" id="contraseñaRepetidaRegistro" name="contraseñaRepetidaRegistro"  required="required" maxlength="30" type="password" placeholder="Repeat Password"><br><br>
            
            <div style="width: 80%; display:  block ruby;">
            
            <input type="checkbox" id="checkbox-register" name="checkbox-register" (change)="checkValueRegister()"><p for="checkbox-register" style="font-size: 11px;" (click)="openPrivacityModal()">By signing up, you agree to the Terms of Service and Privacy Policy, including Cookie Use.</p>
            </div> 

            <button class="button-auth" type="submit" value="Registrarse" (click)="signin()" style="margin-top: 2%;">Sign In</button>
      
          </form> 
        </div>
        
  
  
      </div>
    
    </div>

  </div>
  <div class="actions-container" *ngIf="logged==true">


    <div class="actions-home-page">
      <button id="btn-add-patient" class="only-action"  (click)="openAddPatientModal()">
        <i class="fa " ><img src="/assets/dental-report.png" style="width: 75px;"></i>
      </button>
      <article class="actions-definition">
        <h2 class="title-action-definition">Add patient</h2>
        <p class="body-action-definition">Add a patient to the platform.</p>
      </article>
    </div>

    <div class="actions-home-page">
      <button id="btn-load-dicom" class="only-action" (click)="openLoadDicom()" *ngIf="withPatients">
        <i class="fa " ><img src="/assets/3d-printing.png" style="width: 75px;"></i>
      </button>
      <button id="btn-load-dicom" class="only-action" style="background-color: #777879;" disabled *ngIf="!withPatients">
        <i class="fa " ><img src="/assets/3d-printing.png" style="width: 75px;"></i>
      </button>
      <article class="actions-definition">
        <h2 class="title-action-definition">Load Dicom</h2>
        <p class="body-action-definition">Upload dicom files in order to generate simulations.</p>
      </article>
    </div>

    <div class="actions-home-page">
      <button id="btn-load-dicom" class="only-action" (click)="openShowSimulations()" *ngIf="withPatients">
        <i class="fa " ><img src="/assets/cube-3d.png" style="width: 75px;"></i>
      </button>
      <button id="btn-load-dicom" class="only-action" style="background-color: #777879;" disabled *ngIf="!withPatients">
        <i class="fa " ><img src="/assets/cube-3d.png" style="width: 75px;"></i>
      </button>
      <article class="actions-definition">
        <h2 class="title-action-definition">Show simulations</h2>
        <p class="body-action-definition">Use DentalFEM tools to explore simulations generated</p>
      </article>
    </div>

    <div class="actions-home-page">
      <button id="btn-load-dicom" class="only-action" (click)="openShowPatients()" *ngIf="withPatients">
        <i class="fa " ><img src="/assets/medical-record.png" style="width: 75px;"></i>
      </button>
      <button id="btn-load-dicom" class="only-action" style="background-color: #777879;" disabled *ngIf="!withPatients">
        <i class="fa " ><img src="/assets/medical-record.png" style="width: 75px;"></i>
      </button>
      <article class="actions-definition">
        <h2 class="title-action-definition">Show patients</h2>
        <p class="body-action-definition">Check the patients who have simulations in the application.</p>
      </article>
    </div>
    
    <div class="actions-home-page">
      <button id="btn-load-dicom" class="only-action" (click)="openUserData()">
        <i class="fa " ><img src="/assets/data-protection.png" style="width: 65px;"></i>
      </button>
      <article class="actions-definition">
        <h2 class="title-action-definition">User data</h2>
        <p class="body-action-definition">View user profile.</p>
      </article>
    </div>
    
 </div>

  

  <!--ACTIONS CONTAINER WHEN USER IS LOGGED-->

  
  <footer>
    <ul class="contactBar">
      <li>+34 886 30 31 33</li>
      <li>INDOMINUS AS, S.L.</li>
      <li>http://indominus.eu/</li>
     </ul> 
  </footer>













  <div   class="app-mobile">
    <div   class="app-mobile-bar">
      <div   class="app-mobile-bar-img-container">
        <img   src="assets/dentalfem.png" class="app-mobile-bar-image">
      </div>
    </div><!---->


    <div class="app-mobile-body ng-star-inserted"  *ngIf="logged == false">
      <div    class="app-mobile-body-intro">
        <h1    class="app-mobile-body-intro-title">Welcome to DentalFEM</h1>
        <h2    class="app-mobile-body-intro-text"> DentalFEM digital dentistry tool allows for data driven surgical 
          procedures based on accurate mathematical models solved with finite element method (FEM) </h2></div>
          <div    class="app-mobile-body-btns">
            <div    class="app-mobile-body-btns-container">
            <div    class="app-mobile-body-container-actions">


              <button class="app-mobile-body-container-actions-button" (click)="openAuthModal()">
                <i    class="fa fa-sign-in"></i>
                <article    class="actions-definition">
                  <h2    class="title-action-definition">Access</h2>
                </article></button>
              
              
              </div>
                  <div    class="app-mobile-body-container-actions">
                    <button    class="app-mobile-body-container-actions-button" (click)="openModalContact()">
                      <i    class="fa fa-address-book"></i>
                      <article    class="actions-definition">
                        <h2    class="title-action-definition">Contact</h2></article></button></div>
                      </div>
                      <div    class="app-mobile-body-btns-container">
                        <div    class="app-mobile-body-container-actions">
                          <button    class="app-mobile-body-container-actions-button" (click)="openModalAbout()">
                          <i    class="fa fa-question-circle"></i><article    class="actions-definition">
                            <h2    class="title-action-definition">About</h2></article></button></div>
                            <div    class="app-mobile-body-container-actions"><button    class="app-mobile-body-container-actions-button" (click)="openPrivacityModal()">
                              <i    class="fas "><img style="  width: 13%;" src="/assets/escudo-de-seguridad-blanco.png" style="width: 50px;"></i><article    class="actions-definition">
                                <h2    class="title-action-definition privacy">Privacy and terms of use</h2></article></button></div></div></div></div>




    <div   class="app-mobile-body-logged " style="margin-bottom: 10%;" *ngIf="logged == true">
      <div   class="app-mobile-body-logged-bar">
        <div   class="app-mobile-body-logged-bar-item">
          <div   class="icon-menu-bar ng-star-inserted" *ngIf="premium_user != true">{{n_credits}} 
            <i   id="app-mobile-body-logged-bar-item-icon" class="fa" (click)="openModalCredits()" ><img src="/assets/001-money.png" style="width: 30px;"></i>
          </div>
            <!----></div>
            <div   class="app-mobile-body-logged-bar-item">
              <div   class="icon-menu-bar">{{n_patients}} <i   id="app-mobile-body-logged-bar-item-icon" class="fa"><img src="/assets/009-medical-record.png" style="width: 30px;"></i>
              </div>
            </div>
            
              <div   class="app-mobile-body-logged-bar-item">
                <div   class="icon-menu-bar"> 
                  {{n_simulations}} <i class="fa " ><img src="/assets/003-cube.png" style="width: 27px;"></i>
                </div></div><div   class="app-mobile-body-logged-bar-item"><div   class="icon-menu-bar ng-star-inserted">
                  
                  <i  (click)="openModalNotification()" id="app-mobile-body-logged-bar-item-icon" class="fa" ><img src="/assets/004-notification.png" style="width: 27px;">
                  </i></div><!----><!----></div><div   class="app-mobile-body-logged-bar-item"><div   class="icon-menu-bar user-data-item">
                    <i (click)="openUserData()"  id="app-mobile-body-logged-bar-item-icon" class="fa"><img src="/assets/010-profile.png" style="width: 30px;">
                    </i></div></div></div><div   class="app-mobile-body-logged-actions"><div   class="app-mobile-body-btns-container">
                   
                   
                   
                    <div   class="app-mobile-body-container-actions">
                      
                      
                      <button   class="app-mobile-body-container-actions-button" (click)="openAddPatientModal()">
                        <i class="fa " ><img src="/assets/dental-report.png" style="width: 75px;"></i><article   class="actions-definition"><h2   class="title-action-definition">Add patient</h2>
                      </article></button></div><div   class="app-mobile-body-container-actions">
                        <button   class="app-mobile-body-container-actions-button ng-star-inserted" (click)="openLoadDicom()">
                          <i class="fa " ><img src="/assets/3d-printing.png" style="width: 75px;"></i><article   class="actions-definition">
                            <h2   class="title-action-definition">Load Dicom</h2>
                          </article></button><!----><!----></div></div><div   class="app-mobile-body-btns-container">
                            <div   class="app-mobile-body-container-actions"><button   class="app-mobile-body-container-actions-button ng-star-inserted" (click)="openShowSimulations()">
                              <i   class="fa fa-cube"></i><article   class="actions-definition">
                                <h2   class="title-action-definition">Show simulations</h2></article></button><!----><!----></div>
                                <div   class="app-mobile-body-container-actions">
                                  <button   class="app-mobile-body-container-actions-button ng-star-inserted" (click)="openShowPatients()">
                                    <i   class="fa fa-users"></i><article   class="actions-definition">
                                      <h2   class="title-action-definition">Show patients</h2></article></button><!----><!----></div></div>
                                      <div   class="app-mobile-body-btns-container">
                                        <div   class="app-mobile-body-container-actions">
                                          <button   class="app-mobile-body-container-actions-button" (click)="openModalAbout()">
                                            <i   class="fa fa-question-circle"></i><article   class="actions-definition">
                                              <h2   class="title-action-definition">About</h2></article></button></div>
                                              <div   class="app-mobile-body-container-actions"><button   class="app-mobile-body-container-actions-button" (click)="openModalContact()">
                                                <i   class="fa fa-address-book"></i><article   class="actions-definition">
                                                  <h2   class="title-action-definition">Contact</h2></article></button></div></div>
                                                  <div   class="app-mobile-body-btns-container one"><div   class="app-mobile-body-container-actions one">
                                                    <button   class="app-mobile-body-container-actions-button one" (click)="openUserData()">
                                                      <i   class="fa fa-id-card-o"></i><article   class="actions-definition">
                                                        <h2   class="title-action-definition">User data</h2></article></button></div></div></div></div><!---->
                                                        <div   class="app-mobile-footer">
                                                          <h3   class="app-mobile-footer-text">+34 886 30 31 33</h3><h3   class="app-mobile-footer-text">INDOMINUS AS, S.L.</h3>
                                                    <h3   class="app-mobile-footer-text">http://indominus.eu/</h3></div>
  </div>



























 

 
            
 <!-------------------------------------------------------------MODALES----------------------------------------------------------------->

 <div id="myModalAuth" class="modal" *ngIf="authModal" >
      
  <!-- Modal content -->
  <div class="modal-content auth">
    <div class="close-container" (click)="closemyModalAuth()">
      <i class="fa fa-close" style="position: right;" ></i>
    </div>
    
    <!--Formulario derecho-->   
    <div class="modalLogin" >
      
      <h2>Log In</h2>
      <br><br>
      <form class="formInicioSesion" method="get" >
        
        <label for="usuarioLogin">Email:</label>
        <input [(ngModel)]="emailLog" type="text" id="usuarioLogin" name="email"  placeholder="example@gmail.com" required="required"><br>

        <label for="contraseñaLogin">Password:</label>
        <input [(ngModel)]="passwordLog" type="text" id="contraseñaLogin" name="password"  required="required" type="password"placeholder="******" ><br><br>

        <button class="button-auth" type="submit" (click)="login()" style="margin-top: 9%;">Log in</button>
       
      </form> 

    </div>

    
    <!--Formulario izquierdo--> 
    <div class=" modalRegistro">
      <h2>New User</h2>
      <form class="formRegistro">

        <label for="emailRegistro">Email:</label>
        <input [(ngModel)]="email" type="text" id="emailRegistro" name="emailRegistro" required="required" maxlength="30" placeholder="Email or ID"><br>

        <label for="contraseñaRegistro">Password:</label>
        <input [(ngModel)]="password" type="text" id="contraseñaRegistro" name="contraseñaRegistro" required="required" maxlength="30" type="password" placeholder="New Password"><br>

        <label for="contraseñaRepetidaRegistro">Repeat password:</label>
        <input [(ngModel)]="new_password" type="text" id="contraseñaRepetidaRegistro" name="contraseñaRepetidaRegistro"  required="required" maxlength="30" type="password" placeholder="Repeat Password"><br><br>
        
        <div style="width: 80%; display:  block ruby;">
        
        <input type="checkbox" id="checkbox-register" name="checkbox-register" (change)="checkValueRegister()"><p for="checkbox-register" style="font-size: 11px;" (click)="openPrivacityModal()">By signing up, you agree to the Terms <br><br> of Service and Privacy Policy, <br> including Cookie Use.</p>
        </div> 

        <button class="button-auth" type="submit" value="Registrarse" (click)="signin()" style="margin-top: 2%;">Sign In</button>
  
      </form> 
    </div>
    


  </div>

</div>


    <!--MODAL SHOW SIMULATIONS--> 
    <div id="modal-show-simulations" class="modal" *ngIf="showSimulations">

    <div class="modal-content">
      <div class="close-container" style="margin-left: 93%;" (click)="closemyModalShowSimulations()">
        <i class="fa fa-close" style="margin-left: 80%;" ></i>
      </div>
      <h1>All Simulations</h1>

      <table>

      <tr>
        <th>Simulation Id</th>
        <th>Patient Id</th>
        <th>Actions</th>
      </tr>

      <tr class="only-simulations" *ngFor="let simulation of simulations_list">
          
            <td>{{simulation.id_simulation}}</td>
            <td>{{simulation.id_patient}}</td>
            <td style=" text-align: center;  vertical-align: middle; ">
              &nbsp;<i class="fa fa-search"></i> 
              &nbsp; <i class="fa fa-trash" (click)="checkdeleteSimulation(simulation.id_simulation)"></i>  
              &nbsp; <i class="fa fa-trash" (click)="checkdeleteSimulation(simulation.id_simulation)"><a  href="http://217.76.155.161/stl-viewer/"></a></i>
            </td>


        </tr>

       <tr class="only-simulations" >
          
            <td>00001</td>
            <td>003</td>
            <td style=" text-align: center;  vertical-align: middle; ">
              &nbsp;<i class="fa fa-search"></i> 
              &nbsp; <i class="fa fa-trash" ></i>  
              &nbsp; <a  href="http://217.76.155.161/stl-viewer/"><i class="fa fa-eye" ></i></a>
            </td>


        </tr>

    </table>


    </div>
    </div>


    <!--MODAL SHOW PATIENTS--> 
    <div id="modal-show-patients" class="modal" *ngIf="showPatients">
    <div class="modal-content show-patient">
      <div class="close-container"  style="margin-left: 92%;"  (click)="closemyModalShowPatients()">
        <i class="fa fa-close" style="margin-left: 80%;" ></i>
      </div>
      <h1>All Patients</h1>


      <table class="patients-table">
 
        <tr>
          <th>First Name</th> 
          <th>Last Name</th>
          <th>Last Visit</th>
          <th>Total Visits</th>
          <th>Birth</th> 
          <th>Actions</th>
        </tr>

        <tr class="only-simulations" *ngFor="let patient of patients_list">
              <td>{{patient.name}}</td>
              <td>{{patient.last_name}}</td>
              <td>{{patient.last_checking}}</td>
              <td>{{patient.number_visits}}</td>
              <td>{{patient.birth}}</td>
              <td style=" text-align: center;  vertical-align: middle; "> <i class="fa fa-bars" id="edit-patient" (click)="openPatientEditor(patient)"></i> </td>
            
          </tr>


      </table>




    </div>
    </div>

    <!--MODAL DATA USER--> 
    <div id="modal-user-data" class="modal" *ngIf="showUserData">
    <div class="modal-content" >
      <div class="close-container"  style="margin-left: 92%;"  (click)="closemyModalUserData()">
        <i class="fa fa-close" style="margin-left: 80%;" ></i>
      </div>
      <h1>User Data</h1>
      <div class="change-password-container">
        <form autocomplete="off">
            <label for="userEmail">Email or ID:</label><br>
            <input autocomplete="off" type="text" id="userEmail" name="userEmail" value="{{userDataEmail}}" placeholder="Confirm email" autocomplete="nope" onfocus="this.value=''" required="required"><br>
            <label for="old_password">Old Password:</label><br>
            <input [(ngModel)]="old_password" type="text" id="old_password" name="old_password" type="password" placeholder="Old password" autocomplete="nope" required="required"><br>
            <label for="new_password">New Password:</label><br>
            <input [(ngModel)]="new_password" type="text" id="new_password" name="new_password" type="password" placeholder="New password" autocomplete="nope" required="required">
            <button type="submit" value="Change user password" (click)="changePassword()" style="margin-top: 3%;">Change Password</button>
          </form>
      </div>
      <br> 
      <div class="closeSesion">
        <button type="submit" value="Log Out" (click)="logOut()" style="background-color: red;">Log Out</button>
      </div>
      <br> 
      <div class="delete-option">
        <button type="submit" value="Delete user" (click)="deleteUser()" style="background-color: orange;">Delete Acount</button>
      </div>

    </div>
    </div>


    <!--MODAL LOAD DICOM-->
    

      <div id="modal-load-dicom" class="modal"  *ngIf="loadDicomModal">
      <div class="modal-content">
        <div class="close-container"  style="margin-left: 92%;"  (click)="closemyModalLoadDicom()">
          <i class="fa fa-close" style="margin-left: 80%;" ></i>
        </div>

  <!------------------------------------------------------------------------------------------------------------------------------------------------->

      <div class="modal-content load-dicom">

        <div class="model-content dicom form-dicom">
          <h1>Load Dicom</h1>
          <form class="load-dicom-form" name="genform">

          <fieldset style="border-width: 0 !important;">
          <label for="infile">DICOM file: </label>
          <br><br>
        <!--
          <input id="infile" type="file"  name="file" onchange="dwv.test.onInputDICOMFile(event);">
          --> 
          <form id="load-dicom-id" action="/api/upload" method="post" enctype="multipart/form-data">
            <label for="customFileLang" class="choose-file-btn">
              Choose file
            </label>
            <input style="display: none;"  (change)="fileChange($event)" type="file" class="custom-file-input" lang="es" id="customFileLang" name="customFileLang" aria-describedby="inputGroupFileAddon01" accept="*/dicom,.dcm, image/dcm, */dcm, .dicom"/>
            
          </form>
          
          <br><label style="display:none" for="inrulesfile">JSON rules file: </label>
          <input style="display:none" id="inrulesfile" type="file" name="file" onchange="dwv.test.onInputRulesFile(event);">
        
          <label for="patient-dicom">Patient:</label> &nbsp; 
          <select id="patient-dicom" name="patient-dicom">

            <option [value]="item.id_patient" *ngFor="let item of patients_list">{{item.last_name}}, {{item.name}}</option>
          
          </select>
          
          <div style="display: flex">
            
            <input type="checkbox" 
            checked 
            type="checkbox" 
            id="checkboxanonymizer" 
            class="checkboxanonymizer"
            [value]="anonymizerChecked"
            name="anonymize" 
            [(ngModel)]="isChecked"
            (change)="openAnonymizedAnswer(isChecked?'true':'false')"> <p style="font-size: 14px; margin-left: 12%;">Anonymized</p>

          </div>
          </fieldset>

          <textarea style="display: none;" id="rules" rows="25">
            {
              "default": {
                "action": "copy", "value": null
              },
              "PatientName": {
                "action": "replace", "value": "Anonymised"
              },
              "PatientID": {
                "action": "replace", "value": "Anonymised"
              }, 
            "PatientBirthDate": {
                "action": "replace", "value": "Anonymised"
              },
              "PatientSex": {
                "action": "replace", "value": "Anonymised"
              },
              "Meta Element": {
                "action": "copy", "value": null
              },
              "Acquisition": {
                "action": "copy", "value": null
              },
              "Image Presentation": {
                "action": "copy", "value": null
              },
              "Procedure": {
                "action": "copy", "value": null
              },
              "Pixel Data": {
                "action": "copy", "value": null
              }
            }
          </textarea>

        
          
          <button style="width: 54%;"><a  href="#" id="generate" class="button" style="color: white; text-decoration: none; font-size: 16px !important;" (click)="upload()"> Upload Dicom </a></button>
        
          </form>  
        </div>

        <div class="modal-content dicom restricted-tags">
          <div class="title-with-front-icon">
            <h2 class="title-page-dicom-restriction"> Restricted tags in the sample upload</h2>
          </div>
          <h5  class="list-options-dicom">
            <i  class="fa fa-angle-double-right"></i><strong  > Matrix: </strong> At least 400x400 <br  >
            <i   class="fa fa-angle-double-right"></i><strong  > Field of view (FOV): </strong> At least 8x15 cm <br  >
            <i   class="fa fa-angle-double-right"></i><strong  > Voxel size (isotropic): </strong> 0.25 - 0.35 mm <br  >
            <i   class="fa fa-angle-double-right"></i><strong  > Reconstruction: </strong> Axial <br  >
            <i   class="fa fa-angle-double-right"></i><strong  > Compress: </strong> Uncompressed <br  >
            <strong   style="color: blue;" (click)="openProtocol()">More..</strong></h5>
        </div>



      </div>


          

  <!-----------------onclick=""--------------------------------------------------------------------------------------------------------------------------------->


              </div>
      <!--
      <iframe class="iframevtk" src="https://kitware.github.io/vtk-js/examples/SimpleCone/index.html" title="Inline Frame Example"
      width="100%" height="100%" frameborder="0">

      </iframe>
      -->
      </div>

   

    <!--MODAL EDIT PATIENT-->

    <div id="modal-edit-patient" class="modal" *ngIf="modalEditPatients">
    <div class="modal-content">
      <div class="close-container"  style="margin-left: 92%;"  (click)="closePatientEditor()">
        <i class="fa fa-close" style="margin-left: 80%;" ></i>
      </div>
      <h1>Patient Page:</h1>
      
      <form autocomplete="off" style=" justify-content: space-around !important;">
        
        <div class="editor-form  one-patient">
          <div class="editor">

          <label for="first_name">First Name</label><br>
          <input [(ngModel)]="first_name_patient_editor" autocomplete="off" type="text" id="first_name" name="first_name" value="{{first_name_patient_editor}}" placeholder="{{first_name_patient_editor}}" autocomplete="nope" onfocus="this.value=''" ><br>
          
          <label for="last_name">Last Name</label><br>
          <input [(ngModel)]="last_name_patient_editor" autocomplete="off" type="text" id="last_name" name="last_name" value="{{last_name_patient_editor}}" placeholder="{{last_name_patient_editor}}" autocomplete="nope" onfocus="this.value=''" ><br>
          <br>
          <label for="genre">Genre: {{genre_patient_editor}}</label>&nbsp;
            <select name="genre_patient_new" [(ngModel)]="genre_patient_new" id="genre_patient_new" >
              <option value="woman">Woman</option>
              <option value="man">Man</option>
            </select>
          </div>

          <div class="editor">

            <label for="birth_patient">Date of birth</label><br>
            <input [(ngModel)]="birth_patient_editor" autocomplete="off" type="date" id="birth_patient" name="birth_patient" placeholder="{{birth_patient_editor}}"  ><br>
            
            <label for="address_patient">Address</label><br>
            <input [(ngModel)]="address_patient_editor" autocomplete="off" type="text" id="address_patient" name="address_patient" value="{{address_patient_editor}}" placeholder="{{address_patient_editor}}" autocomplete="nope" onfocus="this.value=''" ><br>
            
            <label for="contact_patient">Contact</label><br>
            <input [(ngModel)]="contact_patient_editor" autocomplete="off" type="text" id="contact_patient" name="contact_patient" value="{{contact_patient_editor}}" placeholder="{{contact_patient_editor}}" autocomplete="nope" onfocus="this.value=''" ><br>
            
          </div>

          <div class="editor">

            <label for="first_visit">First visit</label><br>
            <input [(ngModel)]="first_visit_patient_editor" autocomplete="off" type="date" id="first_visit" name="first_visit" value="{{first_visit_patient_editor}}" placeholder="{{first_visit_patient_editor}}" autocomplete="nope" onfocus="this.value=''" required="required"><br>
            
            <label for="last_visit">Last visit</label><br>
            <input [(ngModel)]="last_visit_patient_editor" autocomplete="off" type="date" id="last_visit" name="last_visit" value="{{last_visit_patient_editor}}" placeholder="{{last_visit_patient_editor}}" autocomplete="nope" onfocus="this.value=''" required="required"><br>
            
            <label for="total_visits">Total Visits</label><br>
            <input [(ngModel)]="total_visit_patient_editor" autocomplete="off" type="number" id="total_visits" name="total_visits" value="{{total_visit_patient_editor}}" placeholder="{{total_visit_patient_editor}}" autocomplete="nope" onfocus="this.value=''" required="required"><br>
            
          </div>

          <div class="editor">
            <label for="patient_notes">Notes</label><br>
            <input [(ngModel)]="notes_patient_editor" style="line-height: 7.5em;" autocomplete="off" type="text" id="patient_notes" name="patient_notes" value="" placeholder="" autocomplete="nope" onfocus="this.value=''" required="required"><br>
            
          </div>

        </div>

        <div class="options-container-patient">
          <div class="options-container-patient-save-changes">
            <button type="submit" value="Change patient data" (click)="changePatientData()" >Save changes</button>
          </div>
          <div class="options-container-patient-save-peridontal">
            <button type="submit"  (click)="openmyModalImageProbe()" >Save peridontal image</button>
          </div>
          
        </div>
        

        <div class="peridontal-container">
          <img style="width: inherit;" src="http://217.76.155.161:5000/getImage?patient={{id_patient_editor}}" *ngIf="peridontal_img">
        </div>
       

      </form>


      
          
    </div>
    <!--
    <iframe class="iframevtk" src="https://kitware.github.io/vtk-js/examples/SimpleCone/index.html" title="Inline Frame Example"
    width="100%" height="100%" frameborder="0">

    </iframe>
    -->
    </div>

    <!--MODAL ABOUT-->

    <div id="modal-about" class="modal" *ngIf="aboutModal">
    <div class="modal-content-about">
      <div class="close-container"  style="margin-left: 92%;"  (click)="closemyModalAbout()">
        <i class="fa fa-close" style="margin-left: 80%;" ></i>
      </div>
      <article>
        <h2>About</h2>
        <h4>
          DENTALFEM digital dentistry software has integrated under a single tool all the stages needed to carry out a FEM
          simulation of a patient specific dental implant. Usually, several complex and expensive tools are needed to analyse
          a single case. The process comprises 6 stages:
        </h4>
        <div class="about-info-stages">
          <p>
            <strong>Segmentation:</strong> CBCT data is input to the platform, with subsequent anonymis
            personal data. CBCT involves tissues, teeth, jawbone among other structures. These areas need to
            be identified and isolated in order to model them with suitable physical properties (density, Young
            modulus and Poison ratio). And obtain the regions of interest for the later analysis. A novel CNN
            architecture, namely the mixed-scale dense (MS-D) CNN, will be implemented for accurate and
            automatic segmentation of different bony structures (simultaneously segment the jaw and the teeth
            in CBCT scans).
          </p>
          <img class="about-info-img" src="assets/dentalfem.png">
        </div>  
        <div class="about-info-stages">
          <p>
            <strong>3D reconstruction:</strong> Based on segmented CBCT data, an accurate 3D reconstruction
            oral cavity is obtained, containing all relevant structures for the analysis. We use Marching cubes
            algorithms to obtain the virtual geometry.
          </p>
          <img class="about-info-img" src="assets/dentalfem.png">
        </div>  
        <div class="about-info-stages">
          <p>
            <strong>Meshing:</strong> The computational geometry is discretised using a mesh, obtaining a finite amout of
            poitns with connections, where the equations will be solved. This step is crucial for obtaining
            accurate results. We wil be using hexaedra elements (higher accuracy and less computing time).
          </p>
          <img class="about-info-img" src="assets/dentalfem.png">
        </div>  
        <div class="about-info-stages">
          <p>
            <strong>FEM simulation:</strong> The next step is to obtain the structural response of the implanted tooth solving
            solid mechanics equations using FEM. This will provide a solution at every point of the oral cavity
            geometry based on different loading conditions to understand the influence of implant. A non linear
            model will be deployed with the aim of better describe the osseointegration and masticatory forces.
            Different material properties will be used for each structure involved.
          </p>
          <img class="about-info-img" src="assets/dentalfem.png">
        </div> 
        <div class="about-info-stages">
          <p>
            <strong>Postprocessing::</strong> Finally, the computer provides a wealth of data that includes stress and strain
            distributions among others. This will aid in patient specific surgery planning (material selection, diameter/length of
            and guarantee the values for this procedure are within the acceptable range to prevent implant failure.
          </p>
          <img class="about-info-img" src="assets/dentalfem.png">
        </div> 
        <div class="about-info-stages">
          <p>
            <strong>Virtualsurgeries:</strong> This powerful tool allows to test different implants and surgery procedures (sinus augmentation,
            computationally by directly modifying the virtual 3D geometry of the patient and placing the new
            implant. and study the outcomes for the patient from a mechanical perspective. The surgeon modifies the 3D model
            in order to replicate the real surgery. After that, simulation will run again and results of different scenarios
            (provisional and final prosthetic restoration, simulating the occlusal forces ) can be quantitatively and qualitatively
            compared, allowing an optimised treatment for the patient,
          </p>
          <img class="about-info-img" src="assets/dentalfem.png">
        </div> 
        
      </article>
    </div>
    <!--
    <iframe class="iframevtk" src="https://kitware.github.io/vtk-js/examples/SimpleCone/index.html" title="Inline Frame Example"
    width="100%" height="100%" frameborder="0">

    </iframe>
    -->
    </div>

    <!--MODAL CONTACT-->

    <div id="modal-contact" class="modal" *ngIf="contactModal">
      <div class="modal-content">
        <div class="close-container"  style="margin-left: 92%;"  (click)="closemyModalContact()">
          <i class="fa fa-close" style="margin-left: 80%;" ></i>
        </div>
        <h2>Send us a message</h2>
        <form autocomplete="off" style="display: grid; justify-content: space-around !important;">
          <div class="editor-form">
            <div class="editor">
  
            <label for="name_request">Name</label><br>
            <input [(ngModel)]="name_request" autocomplete="off" type="text" id="name_request" name="name_request" value="Name" placeholder="Name" autocomplete="nope" onfocus="this.value=''" ><br>
            
            <label for="email_request">Email</label><br>
            <input [(ngModel)]="email_request" autocomplete="off" type="text" id="email_request" name="email_request" value="Type your email here" placeholder="Email" autocomplete="nope" onfocus="this.value=''" ><br>
            
            <label for="message_request">Message</label><br>
            <input style="height: 150px; " [(ngModel)]="message_request" autocomplete="off" type="text" id="message_request" name="message_request" value="Type your message here" placeholder="Type your message here" autocomplete="nope" onfocus="this.value=''" ><br>
            <br>
            <input type="checkbox" id="checkbox-register" name="checkbox-register" (change)="checkValueRegister()"> <p style="font-size: 11px;" (click)="openPrivacityModal()">By signing up, you agree to the Terms of Service and Privacy Policy, including Cookie Use.</p>
            </div>
  
          </div>
  
          <button type="submit" value="send request" (click)="sendRequest()" style="margin-top: 3%;">Send Request</button>
  
        </form>
      </div>
    </div>


    <!--MODAL CONTACT LOOGEED-->

    <div id="modal-contact" class="modal" *ngIf="contactModalLogged">
      <div class="modal-content">
        <div class="close-container"  style="margin-left: 92%;"  (click)="closemyModalContactLogged()">
          <i class="fa fa-close" style="margin-left: 80%;" ></i>
        </div>
        <h2>Send us a message</h2>
        <form autocomplete="off" style="display: grid; justify-content: space-around !important;">
          <div class="editor-form">
            <div class="editor">
  
            <label for="message_request">Message</label><br>
            <input style="height: 150px; " [(ngModel)]="message_request_logged" autocomplete="off" type="text" id="message_request_logged" name="message_request_logged" value="Type your message here" placeholder="Type your message here" autocomplete="nope" onfocus="this.value=''" ><br>
            <br>
            <input type="checkbox" id="checkbox-register" name="checkbox-register" (change)="checkValueRegister()"> <p style="font-size: 11px;" (click)="openPrivacityModal()">By signing up, you agree to the Terms of Service and Privacy Policy, including Cookie Use.</p>
            </div>
  
          </div>
  
          <button type="submit" value="send request" (click)="sendRequestLogged()" style="margin-top: 3%;">Send Request</button>
  
        </form>
      </div>
    </div>

    <!--MODAL GET CREDITS AND PREMIUM-->

    <div id="modal-credits" class="modal" *ngIf="creditsModal">
      <div class="modal-content" style="height: 38%;">
        <div class="close-container"  style="margin-left: 92%;"  (click)="closemyModalCredits()">
          <i class="fa fa-close" style="margin-left: 80%;" ></i>
        </div>

        <!--Formulario derecho-->   

        <div class="modalCredit credits" style="width: 49%; float: left;">
                  
          <h2>Get credits</h2>
          <br><br>
          <form class="formInicioSesion" method="get" >
            
            <p>
              Buy credits
            </p>
            <p>
                1 credit = 1 simulation<br>
            </p>
            <button class="button-auth" type="submit"  style="margin-top: 2%;" (click)="openModalGetCredits()">Pay Now</button>
          
          </form> 

        </div>


        <!--Formulario izquierdo--> 
        <div class=" modalRegistro">
          
          <h2 style="margin-top: 3%">Be premium</h2>
          <form class="formRegistro">
            <p>
              What are the advantages of being Premium?
            </p>
            <p>
              - No limit simulations <br>
              - No limit patients <br>
              ...
            </p>
            <button class="button-auth" type="submit" value="Registrarse"  style="margin-top: 2%;" (click)="openModalBePremium()">Be premium now</button>

          </form> 
        </div>




    
      </div>
    </div>

    <!-- MODAL NOTIFICATIONS -->

    <div id="modal-notification" class="modal" *ngIf="notificationModal">
      <div class="modal-content">
        <div class="close-container"  style="margin-left: 92%;"  (click)="closemyModalNotifications()">
          <i class="fa fa-close" style="margin-left: 80%;" ></i>
        </div>
        
        <h1>All notifications</h1>

        <table>
  
        <tr style="background-color: #365e9f !important; color: white">
          <th>Date</th>
          <th>Origin</th> 
          <th>Body</th>
          <th>Actions</th>
        </tr>
  
        <ng-container *ngFor="let notification of notification_list">
          <tr  class="only-simulations" *ngIf="notification.readed">

                <td>{{notification.date}}</td>
                <td> DENTALFEM </td>
                <td> Simulation {{notification.id_simulation}} has been generated successfully.</td>
                <td style=" text-align: center;  vertical-align: middle; color:rgb(183, 190, 196)"> &nbsp; <i class="fa fa-eye" (click)="showNotificationData(notification.id_notification, notification.date, notification.id_simulation)"></i>  </td>
              
          </tr>
          <tr style="background-color: #f7edbc !important;" class="only-simulations" *ngIf="notification.readed==false">

            <td><strong>{{notification.date}}</strong></td>
            <td><strong> DENTALFEM </strong></td>
            <td> <strong>Simulation {{notification.id_simulation}} has been generated successfully.</strong></td>
            <td style=" text-align: center;  vertical-align: middle; "> &nbsp; <i class="fa fa-eye" (click)="showNotificationData(notification.id_notification, notification.date, notification.id_simulation)"></i>  </td>
          
          </tr>
        </ng-container>
  
  
      </table>




      </div>
   
    </div>


    <!--MODAL ACCEPT SEND REQUEST-->

    <div id="modal-about" class="modal" *ngIf="sendRequestAccept">
      <div class="modal-content" style="width: 18%;">
        <div class="close-container"  style="margin-left: 92%;"  (click)="closeRequest()">
          <i class="fa fa-close" style="margin-left: 80%;" ></i>
        </div>
        <h3>Are you sure to send the request ?</h3>
        <div class="btn-eleccion" style="display: flex;">
          <button (click)="acceptSendRequest()" style="margin-right: 2%;">Yes</button>
          
          <button (click)="closeRequest()">No</button>
        </div>
      </div>
   
    </div>


    <!--MODAL DELETE SIMULATION-->

    <div id="modal-about" class="modal" *ngIf="showDeleteAccept">
      <div class="modal-content" style="width: 18%;">
        <div class="close-container"  style="margin-left: 92%;"  (click)="closeShowDeleteAccept()">
          <i class="fa fa-close" style="margin-left: 80%;" ></i>
        </div>
        <h3>Are you sure you want to delete simulation {{id_simulation_especific}}?</h3>
        <div class="btn-eleccion" style="display: flex;">
          <button (click)="deleteSimulation()" style="margin-right: 2%;">Yes</button>
          
          <button (click)="closeShowDeleteAccept()">No</button>
        </div>
      </div>
   
    </div>

    <!--MODAL VIEW NOTIFICATION--> 
    <div id="modal-user-data" class="modal" *ngIf="showOneNotification">
      <div class="modal-content" >
        <div class="close-container"  style="margin-left: 92%;"  (click)="closeShowOneNotification()">
          <i class="fa fa-close" style="margin-left: 80%;" ></i>
        </div>
        <article>
          <h2>Notification:</h2>
          <p>From: <strong>DentalFEM</strong><br>
          Simulation {{notification_simulation}} has been generated successfully.
          </p>
          <div class="notificationActions">

          </div>
        </article>
       
        
  
      </div>
    </div>


    <!--MODAL ADD PATIENTS-->

    <div id="modal-edit-patient" class="modal" *ngIf="addPatientModal">
      <div class="modal-content">
        <div class="close-container"  style="margin-left: 92%;"  (click)="closeAddPatientModal()">
          <i class="fa fa-close" style="margin-left: 80%;" ></i>
        </div>
        <h1>Add new patient</h1>
        
        <form autocomplete="off" style="display: grid; justify-content: space-around !important;">
          
          <div class="editor-form add-patient">
            <div class="editor">
  
            <label for="first_name">First Name*</label><br>
            <input [(ngModel)]="first_name_patient_new" autocomplete="off" type="text" id="first_name" name="first_name" value="{{first_name_patient_new}}"  onfocus="this.value=''" ><br>
            
            <label for="last_name">Last Name*</label><br>
            <input [(ngModel)]="last_name_patient_new" autocomplete="off" type="text" id="last_name" name="last_name" value="{{last_name_patient_new}}"  onfocus="this.value=''" ><br>
            
            <label for="genre">Genre</label><br>
            <select name="genre_patient_new" [(ngModel)]="genre_patient_new" id="genre_patient_new" ><br>
              <option value="woman">Woman</option>
              <option value="man">Man</option>
            </select>
            
            </div>
  
            <div class="editor">
  
              <label for="birth_patient">Date of birth</label><br>
              <input [(ngModel)]="birth_patient_new" autocomplete="off" type="date" id="birth_patient" name="birth_patient" placeholder="{{birth_patient_new}}"  ><br>
              
              <label for="address_patient">Address</label><br>
              <input [(ngModel)]="address_patient_new" autocomplete="off" type="text" id="address_patient" name="address_patient" value="{{address_patient_new}}" placeholder="{{address_patient_new}}" autocomplete="nope" onfocus="this.value=''" ><br>
              
              <label for="contact_patient">Contact</label><br>
              <input [(ngModel)]="contact_patient_new" autocomplete="off" type="text" id="contact_patient" name="contact_patient" value="{{contact_patient_new}}" placeholder="{{contact_patient_new}}" autocomplete="nope" onfocus="this.value=''" ><br>
              
            </div>
  
            <div class="editor">
  
              <label for="first_visit">First visit</label><br>
              <input [(ngModel)]="first_visit_patient_new" autocomplete="off" type="date" id="first_visit" name="first_visit" value="{{first_visit_patient_new}}" placeholder="{{first_visit_patient_new}}" autocomplete="nope" onfocus="this.value=''" required="required"><br>
              
              <label for="last_visit">Last visit</label><br>
              <input [(ngModel)]="last_visit_patient_new" autocomplete="off" type="date" id="last_visit" name="last_visit" value="{{last_visit_patient_new}}" placeholder="{{last_visit_patient_new}}" autocomplete="nope" onfocus="this.value=''" required="required"><br>
              
              <label for="total_visits">Total Visits</label><br>
              <input [(ngModel)]="total_visit_patient_new" autocomplete="off" type="text" id="total_visits" name="total_visits" value="{{total_visit_patient_new}}" placeholder="{{total_visit_patient_new}}" autocomplete="nope" onfocus="this.value=''" required="required"><br>
              
            </div>
  
            <div class="editor">
              <label for="patient_notes">Notes</label><br>
              <input [(ngModel)]="notes_patient_new" style="line-height: 7.5em;" autocomplete="off" type="text" id="patient_notes" name="patient_notes" value="" placeholder="" autocomplete="nope" onfocus="this.value=''" required="required"><br>
              
            </div>
  
          </div>
  
          <button type="submit" value="Change patient data" (click)="addNewPatient()" style="margin-top: 3%;">Add patient</button>
  
        </form>
            
      </div>
      <!--
      <iframe class="iframevtk" src="https://kitware.github.io/vtk-js/examples/SimpleCone/index.html" title="Inline Frame Example"
      width="100%" height="100%" frameborder="0">
  
      </iframe>
      -->
      </div>


    <!--MODAL privacy-->

    <div id="modal-about" class="modal" *ngIf="privacityModal">
      <div class="modal-content-about">
        <div class="close-container"  style="margin-left: 92%;"  (click)="closePrivacityModal()">
          <i class="fa fa-close" style="margin-left: 80%;" ></i>
        </div>
        <article  ><h2  >DentalFEM terms of Service and Privacy Policy</h2>
          <p  >By using this site, you signify your assent to these Terms and Conditions. If you do not agree to all
             of these Terms and Conditions, do not use this site!</p><h2  >1. Who May Use the Services</h2>
             <p  ></p><h2  >2. Privacy</h2><h2  >3. Content on the Services</h2>
             <p  >The contents of the DentalFEM Site, such as text, graphics, images, and other materials created by DentalFEM
                or obtained from DentalFEM's licensors, and other materials contained on the DentalFEM Site (collectively, "Content")
                 are for informational purposes only. The Content is not intended to be a substitute for professional medical advice, 
                 diagnosis, or treatment. Always seek the advice of your physician or other qualified health provider with any questions you
                  may have regarding a medical condition. Never disregard professional medical advice or delay in seeking it because of something
                   you have read on the DentalFEM Site!</p><h2  >4. Using the service</h2><p  >The Content posted on this Site is protected by the 
                     copyright laws in the Europe and in foreign countries. DentalFEM authorizes you to view or download a single copy of the Content 
                     solely for your personal, noncommercial use if you include the copyright notice located at the end of the material, for example: 
                     "©2022, DentalFEM. All rights reserved" and other copyright and proprietary rights notices that are contained in the Content. 
                     Any special rules for the use of certain software and other items accessible on the DentalFEM Site may be included elsewhere 
                     within the Site and are incorporated into these Terms and Conditions by reference. Title to the Content remains with DentalFEM 
                     or its licensors. Any use of the Content not expressly permitted by these Terms and Conditions is a breach of these Terms and 
                     Conditions and may violate copyright, trademark, and other laws. Content and other features are subject to change or termination 
                     without notice in the editorial discretion of DentalFEM. All rights not expressly granted herein are reserved to DentalFEM and
                      its licensors. Certain Content on this Site is licensed under U.S. Patent No. 6,585,516. If you violate any of these Terms 
                      and Conditions, your permission to use the Content automatically terminates and you must immediately destroy any copies you
                       have made of any portion of the Content.</p><h2  >5. Disclaimers and Limitations of Liability</h2><h2  >6. General</h2></article>
      </div>
      <!--
      <iframe class="iframevtk" src="https://kitware.github.io/vtk-js/examples/SimpleCone/index.html" title="Inline Frame Example"
      width="100%" height="100%" frameborder="0">
  
      </iframe>
      -->
      </div>


     <!--MODAL protocol-->

     <div id="modal-about" class="modal" *ngIf="protocolModal">
      <div class="modal-content-about">
        <div class="close-container"  style="margin-left: 92%;"  (click)="closeProtocolModal()">
          <i class="fa fa-close" style="margin-left: 80%;" ></i>
        </div>
        <article  ><h2   class="protocol">Required scan protocol</h2>
          <p   style="margin-left: 4%;">The quality of the CBCT san is the most important aspect of creating patient-specif anatomical models. 
            Your observation of the recommendations made in this protocol w have a significant impact on the accuracy of the final model. 
            We understand concen about keeping the radiation dose to your patients as low as reasonably achievabl therefore, please apply 
            these guidelines as appropriate to your patients.</p><h2   class="protocol">Patient preparation</h2><p   style="margin-left: 4%;">
              <i   class="fa fa-angle-double-right"></i><strong  > Inform the patient</strong> of the procedureb <br  ><br  >
              <i   class="fa fa-angle-double-right"></i><strong  > Ensure removal of any metal artifact,</strong> such as non-fixed metal prosthesis, jewelry.
               eyeglasses, hairpins, and hearing aids. Image artifact caused by metallic implants might interfere 
               with the region to be scanned and can obscure anatomy of interest.<br  ><br  >
               <i   class="fa fa-angle-double-right"></i><strong  > Make the patient confortable</strong>
                and instruct him/her not to move during the procedure. This is important to ensure that scans are free from motion artifacts. <br  >
                <br  ><i   class="fa fa-angle-double-right"></i><strong  > Normal breathing is acceptable</strong> 
                but any other movement such as tilting and/or turning the head can cause motion artifacts that can severeky distort the 
                reconstructed images and compromise the accuracy of a model, requiring repaeting the scan.<br  ><br  >
                <i   class="fa fa-angle-double-right"></i><strong  > Stabilize the relationship of the jaws </strong> during the scan. </p>
                <h2   class="protocol">Scanning recommendations</h2><h3   class="protocol" style="margin-left: 2%;">Patient positioning</h3>
                <p   style="margin-left: 4%;"><i   class="fa fa-angle-double-right"></i>Position the patient seated, with a natural head position. <br  ><br  >
                  <i   class="fa fa-angle-double-right"></i><strong  >The jaws should be in inocclusion.</strong><br  ><br  ><i   class="fa fa-angle-double-right">

                  </i>The patient may swallow just before the scan, not during the scan. <br  ><br  >
                  <i   class="fa fa-angle-double-right"></i>Do not deform the soft tissue (no chin cups, no straps).<br  ><br  >
                  <i   class="fa fa-angle-double-right"></i>The field of view (FOV) should include Nose and chind, Left and right TMJ.<br  ><br  >
                  <i   class="fa fa-angle-double-right"></i>Region of interest should be at least 10mm from the border of the field to avoid a 
                  possible border distortion effect <br  ><br  ><i   class="fa fa-angle-double-right"></i>We recommend building a "DentalFEM CBCT 
                  protocol" in your CBCT with the appropriate ranges and parameters. </p><h3   class="protocol" style="margin-left: 2%;">Reconstruction</h3>
                  <p   style="margin-left: 4%;"><i   class="fa fa-angle-double-right"></i>Use a proper image reconstruction algorithm to get the sharp reformatted 
                    imagefor locating internal structures such as alveolar nerves.<br  ><br  ><i   class="fa fa-angle-double-right">

                </i><strong  >Use the sharpest reconstruction algorithm available</strong><br  ><br  ></p></article>
      </div>
      <!--
      <iframe class="iframevtk" src="https://kitware.github.io/vtk-js/examples/SimpleCone/index.html" title="Inline Frame Example"
      width="100%" height="100%" frameborder="0">
  
      </iframe>
      -->
      </div>



       <!--MODAL ANONYMIZED ANSWER-->

    <div id="modal-about" class="modal" *ngIf="anonymizeModal">
      <div class="modal-content anonymized-answer" style="width: 18%;">
        <div class="close-container"  style="margin-left: 92%;"  (click)="closeAnonymized()">
          <i class="fa fa-close" style="margin-left: 80%;" ></i>
        </div>
        <h3>You have chosen to upload a non-anonymized file.This sample may contain sensitive personal data. Are you sure not to anonymize the sample?</h3>
        <div class="btn-eleccion" style="display: flex;">
          <button (click)="anonymizedNo()" style="margin-right: 2%;">Yes</button>
          
          <button (click)="changeAnonymized()">No</button>
        </div>
      </div>
   
    </div>


   <!--MODAL UPLOAD AND SHOW PROBE-->
   
   <div id="modal-load-dicom" class="modal"  *ngIf="uploadImageProbe">
    <div class="modal-content">
      <div class="close-container"  style="margin-left: 92%;"  (click)="closemyModalImageProbe()">
        <i class="fa fa-close" style="margin-left: 80%;" ></i>
      </div>

<!------------------------------------------------------------------------------------------------------------------------------------------------->

    <div class="modal-content load-dicom">

      <div class="model-content dicom form-dicom">

        <h1>Upload Florida Probe</h1>

        <input type="file" class="file-input" (change)="onImgSelected($event)" #fileUpload>
        
      </div>

     
    </div>



            </div>
    
    </div>



<!--MODAL BE PREMIUM-->

  <div id="modal-load-premium" class="modal" *ngIf="modalBePremium">
    <div class="modal-content">
      <div class="close-container"  style="margin-left: 92%;"  (click)="closeModalBePremium()">
        <i class="fa fa-close" style="margin-left: 80%;" ></i>
      </div>

      <div class="modal-content be-premium">
        <h2>Do you want to be premium?</h2>
        <br><br>
        <ngx-paypal #payPalElem1 [config]="payPalConfig"></ngx-paypal>
      </div>
    </div>
  </div>

<!--MODAL GET CREDITS-->

<div id="modal-load-premium" class="modal" *ngIf="modalGetCredits">
  <div class="modal-content">
    <div class="close-container"  style="margin-left: 92%;"  (click)="closeModalGetCredits()">
      <i class="fa fa-close" style="margin-left: 80%;" ></i>
    </div>

    <div class="modal-content be-premium">
      <h2>Do you want to be premium?</h2>
      <br><br>
      <ngx-paypal payPalElem2 [config]="payPalConfig"></ngx-paypal>
    </div>
  </div>
</div>



  <!-------
    Footer con datos de contacto
  --------->
  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
 
<script>
  document.getElementById("load-dicom-id").innerText = "Hola";
</script>


  

  <!----------------------------------------------FINAL------------------------------------------------------------------->   


</html>
