/* You can add global styles to this file, and also import other style files */

/* Fuentes propias de Indominus */






  
  h1, h2, h3, h4, h5, button, a, p, li, ul, label{
    font-family: archiaRegular;
  }
  
  /*  header syle  */
  
    
   

    .icon-menu-bar{
      font-size: 30px; 
      margin-left: 5%;
      margin-right: 5%;
    }
    
    li a {
      font-family: archiaRegular;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover:not(.active) {
      background-color: rgb(194, 194, 194);
    }
  
  
    .supHome{
        margin: 0;
    }
  
    
  
    .logoMenuBar{
      float: left;
      margin-left: 17%;
    }
  
  /* Menu Wallpaper Style */
  
    
    .mediumBackgroundDiv-In, .mediumBackgroundDiv-Out{
        margin-right: 17%;
        margin-left: 17%;
        border-right: 1px solid white;
        border-left: 1px solid white;
        background-color: rgba(202, 202, 202, 0.5);
        color: #e0e0e0;
        
    }
  
    .mediumBackgroundDiv-In{
      color: black;
    }
  
  
  
  
    .buttonStartHome{
      top: 5in;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      
    }
  
    .backgroundText{
      color: black;
      padding: 2%;
    }
  
  /* About div*/
  
  
      .mediumDiv{
          margin-right: 17%;
          margin-left: 17%;
          
      }
  
  /*Contact Div*/
  
      .contactBar{
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
      }
  
      .contactBar>li {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          float: left;
        }
  
  /*Modal con formulario e inicio sesion*/
  
  .modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content, .modal-content-premium {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    
    margin-bottom: 10%;
  }
  
  .modalLogin{
    width: 49%; 
    float:left;
    
  }
  
  .modalRegistro{
    width: 49%; 
    float:right;
    border-left: 2px solid black;
    padding-left: 15px;
    
    
  }
  
  
  /*Page loged without premium */
  
  .changeFeaturesContainer{
    display: flex;
  }
  
  .changeFeaturesContainer > div, .mediumBackgroundDiv-In>div{
    margin: 10px;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    
    
  }
  
  
  .actionCircle {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  .titleAction{
    text-align: center;
  }
  
  .descriptionAction{
    text-align: center;
  }
  
  
  
  
  .mediumBackgroundDiv-In>.actionsContainer{
    display: flex;
    justify-content: space-evenly;
  }
  
  
  
 
  #backgroundInfoContainer{
    width: 100%;
    height: 50%;
  }
  
  .actionsContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
  }
  
  .action{
    margin-top: 3%;
  }
  
  button{
    background: #365e9f;
    padding: 1%;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: 0px solid white;
  }
  
  .only-action{
    width: 90px;
    height: 90px;
    margin-bottom: 1%;
    margin-left: 1%;
    padding: 1% !important;
    margin: 0;
    margin-left: 39%;
    top: 50%;
    left: 50%;
  }
  
  button:hover{
    box-shadow: 5px 10px 10px #cccbcb;
  }
  
  pre{
    font-size: 30px;
  }
  
  .modal-show-simulations{
    display: none !important;
  }
  
  .only-simulations{
    
    margin-bottom: 1%;
    border-radius: 49px;
    
  
    padding: 2%;
  }
  
  #modal-show-simulations>.modal-content, #modal-show-patients>.modal{
    height: auto !important;
  
  }

  .welcome-container{
    height: 543px !important;
    width: 90%;
    margin: auto;
    padding-top: 5%;
  }



  .info_logged_title{
    margin: auto;
    width: 50%;
    text-align: center;
    
  }

  .actions-container{
    position: absolute;

    width: 100%;
    background: white;
    padding-top: 2%;
    
    padding-bottom: 4%;
    display: flex;
    align-items: center;
    
  }

  .info_logged_body{
    margin: auto;
    width: 50%;
    text-align: center;
   
    
  }

  .closeSesion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  #start-button-container{
    position: absolute;
    bottom: 12%;
    width: 100%;
    background: white;
    padding-top: 2%;
    margin-bottom: -4%;
    padding-bottom: 4%;
  }
  
  .close-container{
    margin-left: 99%;
  }

  .editor-form{
    flex-direction: initial !important;
    justify-content: space-around !important;
    display: flex;
    align-items: center;
    width: 128%;
    margin-left: -10%;
  }

  .delete-option{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  }

  .header{
  
    border-top: 2px #adadad solid;
   
  }
    .supHome{
      margin: 0;
      background-color: rgb(212, 211, 211);
  }

  .title-menu{
    padding-top: 0.5%;
    align-items: center;
    display: flex;
    margin: auto;
    width: 11%;
    height: auto;
  }

  #dentalfemLogo{
    align-items: center;
    width: 58% !important;
  }

  .logoMenuBar{
    float: left;
    margin-left: 17%;
  }
  
  .editor-form.one-patient{
    margin-left: 0%;
    width: 80%;
  }

  .options-container-patient{
    width: 80%;
  }

  .options-container-patient-save-changes{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 1%;
  }

  .options-container-patient-save-peridontal{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 1%;
  }

  .peridontal-container{
    width: 80%;
    text-align: center;
    margin-top: 2%;

  }


  li a {
    font-family: archiaRegular;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
  }
  
  
  

  footer{
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  /*Contact Div*/
  
  .contactBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(212, 211, 211);
}

.contactBar>li {
    display: block;
    color: black;
    font-weight: 1000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
  }

  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    
  }

  th{
    text-align: center; 
    vertical-align: middle;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

 
  .home-user-data-icon{
    display: flex;
    justify-content: center;
  }

  #user-data-icon{
    width: 35%;
  }

  .home-user-data{
    background-color: white;
    margin: auto;
    width: 45%;
    height: 550px;
  }

  .home-user-data-info, .home-user-data-count{
    
    justify-content: center;
  }

  .user-email-button{
    font-size: 18px !important;
    margin-top: 3%;
  }

  .input-file-dicom{
    margin-top: 1%;
  }

  .actions-home-page{
    width: 30%;
    height: 210px !important;
  
  }

  .title-action-definition{
    text-align: center;
  }

  .body-action-definition{
    text-align: center;
  }

  .about-info-stages{
    display: flex;
  }

  .about-info-img{
    width: 100px;
  }

  .about-info-stages{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .about-info-img{
    display: none;
  }

  .modal-content-about{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    margin-bottom: 10%;
    padding-bottom: 4%;
  }


  #modal-notification>.modal-content>table>tr{
    background-color: white !important;
  }

  .unlogged-actions{
    background: rgba(253, 253, 253, 0.7);
    
    padding-top: 2%;
    padding-bottom: 4%;
  }

  .only-action-unlogged{
    width: 93%;
    height: 90px;
    margin-bottom: 1%;

    margin: 0;
    
    
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    
    #disclaimer-exclamation{
      margin-left: 9% !important;
    }
    

  }